:root {
  --cor-primaria: #004aad;
  --cor-secundaria: #007bff;
  --cor-terciaria: #d9ecff;
}

body {
  background-color: var(--cor-terciaria);
}

.card {
  border: 1px solid var(--cor-secundaria);
}

.card h5, .card strong {
  color: var(--cor-primaria);
}

.btn-primary {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

.btn-primary:hover {
  background-color: var(--cor-secundaria);
  border-color: var(--cor-secundaria);
}

.btn-success {
  background-color: var(--cor-secundaria);
  border-color: var(--cor-secundaria);
}

.btn-success:hover {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

a.btn-outline-success {
  color: var(--cor-primaria);
  border-color: var(--cor-primaria);
}

a.btn-outline-success:hover {
  background-color: var(--cor-primaria);
  color: white;
}
